pre-processed data/cleaned_big_sentiment140_full_lex.csv
pre-processed data/cln_aug_big_sentiment140_2.csv
pre-processed data/cln_aug_big_sentiment140_full_lex.csv
pre-processed data/cln_aug_big_sentiment140.csv



sentiment140/
utils/GoogleNews-vectors-negative300.bin
utils/glove.6B.50d.txt
utils/glove.6B.100d.txt
utils/glove.6B.200d.txt
utils/glove.6B.300d.txt